﻿<div class="additional-inputs dialog" data-role="popup" class="ui-corner-all">
	<div data-role="header" data-theme="a" class="ui-corner-top">
		<a href="#" data-rel="back" data-role="button" data-theme="a" data-icon="delete" data-iconpos="notext" class="ui-btn-right">Close</a>
		<h1 class="additional-inputs-tile-type-id"></h1>
	</div>
	<div data-role="main" class="ui-corner-bottom ui-content">
		<div class="scroller">
			<form class="additional-inputs-form">
			</form>
			<button class="additional-inputs-apply" class="ui-btn ui-shadow">Place</button>
		</div>
	</div>
</div>