<div class="menu">
	<div class="scroller">
		<ul class="menu-list" data-role="listview">
			<li class="switch-mode ui-btn ui-icon-recycle ui-btn-icon-left">Switch Mode</li>
			<li class="save ui-btn ui-icon-arrow-d ui-btn-icon-left">Save</li>
			<li class="load ui-btn ui-icon-action ui-btn-icon-left">Load</li>
			<li class="help ui-btn ui-icon-info ui-btn-icon-left">Help</li>
			<li class="options ui-btn ui-icon-gear ui-btn-icon-left">Settings</li> 
			<li class="survey ui-btn ui-icon-comment ui-btn-icon-left">Survey</li>
		</ul>
	</div>
	
	<div class="dialogs"></div>

	<input class="file-input" type="file" accept=".pipes" style="display: none;" />
</div>

