﻿<div class="toolbox">
	<div class="toolbox-delete-overlay">
		<div class="img"></div>
	</div>
	<button class="validate ui-btn"><span class="text">Verify</span> [<span class="point-display"></span>]</button>
	<div class="scroller text-styling">
		<ul class="toolbox-list" data-role="listview"></ul>
	</div>
</div> 