﻿@CHARSET "ISO-8859-1";

.navigation, .navigation .ui-navbar .ui-tabs {
	width: 100%;
	height: 100%;
	padding: 0;
}

.navigation .ui-navbar {
	height: calc(100% - 30px);
	width: 100%;
	padding: 0;
}

.navigation .ui-navbar .menu-pane, .navigation .ui-navbar .toolbox-pane {
	width: 100%;
	height: calc(100% - 43px);
	overflow: hidden;
}

.navigation {
	border-right: 2px solid black;
	padding: 0;
}

.navigation .state-display {
	height: 30px;
	line-height: 30px;
	text-align: center;
	text-shadow: none;
	background-color: white;
}