﻿<div class="options dialog" data-role="popup" class="ui-corner-all">
	<div data-role="header" data-theme="a" class="ui-corner-top">
		<a href="#" data-rel="back" data-role="button" data-theme="a" data-icon="delete" data-iconpos="notext" class="ui-btn-right">Close</a>
		<h1>Settings</h1>
	</div>
	<div data-role="main" class="ui-corner-bottom ui-content">
		<div class="scroller">
			<div class="options-scroll-content">
				<div data-role="collapsible-set" data-mini="true" data-theme="b" data-content-theme="a">
					<div class="level-options" data-role="collapsible" data-collapsed="false"> 
						<h3>Level Settings</h3>
						<form>
							<label>Title:
							<input type="text" class="option-level-title" data-clear-btn="true" maxlength=32></label>
							<label>Number of Rows:
							<input type="range" class="option-level-dimensions-rows" min="3" max="10"></label>
							<label>Number of Columns:
							<input type="range" class="option-level-dimensions-cols" min="3" max="10"></label>
						</form>
					</div>
					<div class="editor-options" data-role="collapsible" data-collapsed="true">
						<h3>Editor Settings</h3>
						There are no Editor Settings yet!
					</div>
				</div>
				<button class="options-apply" class="ui-btn ui-shadow">Apply</button>
			</div>
		</div>
	</div>
</div>