@CHARSET "ISO-8859-1";

.playfield {
	border-spacing: 0;
	border-collapse: collapse;
	background-color: #262626;
}

.playfield td {
	overflow: hidden;
	padding: 0;
}

.tile {
	display: inline-block;
	background-color: #262626;
	background-repeat: no-repeat;
	background-position: center center;
	background-size: 100% 100%;
}

.tile.immovable:before {
	content: "";
	display: inline-block;
	width: 100%;
	height: 100%;
	background-position: center center;
	background-repeat: no-repeat;
	background-size: 100% 100%;
	background-image: url(../../asset/img/tile_type/Empty.png);
}

.tile.error {
	box-shadow: 0pt 0pt 15px #F33 inset;
}

.playfield .ui-droppable-active {
	box-shadow: 0pt 0pt 15px #FF8 inset;	
}

.playfield .ui-droppable-active.ui-droppable-hover  {
	box-shadow: 0pt 0pt 15px #5F5 inset;
}