@CHARSET "ISO-8859-1";

.tile-type-overview .ui-content {
	display: flex;
	flex-direction: column;
	width: 100%;
}

.tile-type-overview .tile-type-create {
	flex: 0 0 3rem;
	margin-bottom: 0;
}

.tile-type-overview .scroller {
	flex: 1 1;
	height: calc(100% - 3rem - 10px);
}

.tile-type-overview .tile-type-list.ui-listview {
	margin: 0;
}

.tile-type-overview .tile-type.wrapper {
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 100%;
}

.tile-type-overview .tile-type .image {
	background-color: black;
	background-repeat: no-repeat;
	background-size: 100% 100%;
	background-position: center center;
	width: 1.75rem;
	height: 1.75rem;
}

.tile-type-overview .tile-type .title {
	font-size: 1.75rem;
}

.tile-type-overview .tile-type .buttons-container {
	height: 100%;
	width: auto;
}

.animation-added {
	animation-name: animation-added;
    animation-duration: 1.0s;
    animation-timing-function: ease-in-out;
}

@keyframes animation-added {
    from { background: #ccff99; }
    to   { background: default; }
}

.animation-updated {
	animation-name: animation-updated;
    animation-duration: 1.0s;
    animation-timing-function: ease-in-out;
}

@keyframes animation-updated {
    from { background: #ffff99; }
    to   { background: default; }
}