<div class="menu">
	<div class="scroller">
		<ul class="menu-list" data-role="listview">
			<li class="switch-mode ui-btn ui-icon-recycle ui-btn-icon-left">Switch Mode</li>
			<li class="edit-tools ui-btn ui-icon-tag ui-btn-icon-left">Edit Tools</li>
			<li class="edit-assets ui-btn">
				<span class="fa-stack fa-1d75x pull-left">
				  <i class="fa fa-circle fa-stack-1d75x text-color-gray"></i>
				  <i class="fa fa-image fa-stack-1x fa-inverse"></i>
				</span> Edit Assets
			</li>
			<li class="save ui-btn ui-icon-arrow-d ui-btn-icon-left">Save</li>
			<li class="load ui-btn ui-icon-action ui-btn-icon-left">Load</li>
			<li class="help ui-btn ui-icon-info ui-btn-icon-left">Help</li>
			<li class="options ui-btn ui-icon-gear ui-btn-icon-left">Settings</li> 
			<!-- <li class="survey ui-btn ui-icon-comment ui-btn-icon-left">Survey</li> --> <!-- Inactive: The beta test is over and the survey closed. -->
		</ul>
	</div>
	
	<div class="dialogs"></div>

	<input class="file-input" type="file" accept=".pipes" style="display: none;" data-role="none" />
</div>

