@CHARSET "ISO-8859-1";

.help-slides.dialog .carousel {
	height: calc(100% - 25px);
	width: 100%;
	position: absolute;
}

.help-slides.dialog .slick-list, .help-slides.dialog .slick-list .slick-track {
	height: 100%;
}