@CHARSET "ISO-8859-1";

#playfield-container, #navigation-container {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100%;
}

#playfield-container {
	width: 80%;
	flex: 8;
	background-color: rgb(100, 100, 100);
}

#navigation-container {
	max-width: 250px;
	min-width: 175px;
	width: 20%;
	flex: 2;
	background-color: rgb(100, 100, 100);
}

.dialog {
	max-width: 800px;
	max-height: 600px;
	min-width: 200px;
	min-height: 100px;
	width: 80vw;
	height: 80vh;
	display: flex;
	flex-direction: column;
}

.scroller {
	height: 100%;
	width: 100%;
}

/* The natively defined "mCustomScrollbar" margin is unnecessary large */
.scroller .mCSB_inside > .mCSB_container:not(.mCS_y_hidden) {
	margin-right: 15px;
}