﻿.help-slide {
	height: 100%;
	align-items: center;
	align-content: stretch;
}

.help-slide p, .help-slide img {
	width: 100%;
}

.help-slide p {
	min-height: 50px;
}

.help-slide img {
	border: 1px solid #ddd;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 5px;
}

.help-slide img[src=''] {
	display: none;
}

.help-slide .ui-btn-icon-left {
	position: relative;
}

.help-slide .text-highlighting-a, .help-slide .text-highlighting-b, .help-slide .text-highlighting-c {
	font-style: italic;
}

.help-slide .text-highlighting-a {
	color: green;
}

.help-slide .text-highlighting-b {
	color: orange;
}

.help-slide .text-highlighting-c {
	color: purple;
}

.help-slide .link {
	text-decoration: underline;
	color: #00E;
}

.help-slide .link:hover {
	cursor: pointer;
	color: #88E;
}