﻿@CHARSET "ISO-8859-1";

.ui-grid-d.custom-ui-responsive .ui-block-a, 
.ui-grid-d.custom-ui-responsive .ui-block-b, 
.ui-grid-d.custom-ui-responsive .ui-block-c,
.ui-grid-d.custom-ui-responsive .ui-block-d,
.ui-grid-d.custom-ui-responsive .ui-block-e { 
	width: 100%; 
	float: none; 
}


@media all and (min-width: 25em) {
	.ui-grid-d.custom-ui-responsive .ui-block-a, 
	.ui-grid-d.custom-ui-responsive .ui-block-b, 
	.ui-grid-d.custom-ui-responsive .ui-block-c,
	.ui-grid-d.custom-ui-responsive .ui-block-d,
	.ui-grid-d.custom-ui-responsive .ui-block-e { 
		width: 50%;  
		float: left;
	}
	
	.ui-grid-d.custom-ui-responsive .ui-block-a {
		clear: none;
	}
}

@media all and (min-width: 40em) {
	.ui-grid-d.custom-ui-responsive .ui-block-a, 
	.ui-grid-d.custom-ui-responsive .ui-block-b, 
	.ui-grid-d.custom-ui-responsive .ui-block-c,
	.ui-grid-d.custom-ui-responsive .ui-block-d,
	.ui-grid-d.custom-ui-responsive .ui-block-e { 
		width: 33%;  
		float: left;
	}
}

@media all and (min-width: 55em) {
	.ui-grid-d.custom-ui-responsive .ui-block-a, 
	.ui-grid-d.custom-ui-responsive .ui-block-b, 
	.ui-grid-d.custom-ui-responsive .ui-block-c,
	.ui-grid-d.custom-ui-responsive .ui-block-d,
	.ui-grid-d.custom-ui-responsive .ui-block-e { 
		width: 25%;  
		float: left;
	}
}

@media all and (min-width: 70em) {
	.ui-grid-d.custom-ui-responsive .ui-block-a, 
	.ui-grid-d.custom-ui-responsive .ui-block-b, 
	.ui-grid-d.custom-ui-responsive .ui-block-c,
	.ui-grid-d.custom-ui-responsive .ui-block-d,
	.ui-grid-d.custom-ui-responsive .ui-block-e { 
		width: 20%;  
		float: left;
	}
}