﻿<div class="help-overview dialog" data-role="popup" class="ui-corner-all">
	<div data-role="header" data-theme="a" class="ui-corner-top">
		<a href="#" data-rel="back" data-role="button" data-theme="a" data-icon="delete" data-iconpos="notext" class="ui-btn-right">Close</a>
		<h1>Help Overview</h1>
	</div>
	<div data-role="main" class="ui-corner-bottom ui-content">
		<div class="scroller">
			<div class="ui-grid-d custom-ui-responsive">
				<div class="ui-block-a"><button data-keywordId="0">The Game</button></div>
				<div class="ui-block-a"><button data-keywordId="1">Modes</button></div>
				<div class="ui-block-b"><button data-keywordId="2">Menues</button></div>
				<div class="ui-block-d"><button data-keywordId="3">Toolbox</button></div>
				<div class="ui-block-d"><button data-keywordId="4">Settings</button></div>
			</div>
		</div>
	</div>
</div>