@CHARSET "ISO-8859-1";

* {
	margin: 0;
	padding: 0;
}

.text-styling {
	font-size: 15pt;
	font-family: Impact, Charcoal, sans-serif;
	text-shadow: none;
}

html, body, div[data-role="page"], div[data-role="main"] {
    height: 100%;
    overflow: hidden;
}

.ui-mobile-viewport div[data-role="page"] {
	min-height: 100%;
}

.ui-content[data-role="main"] {
	padding: 0;
	display: flex;
	width: 100%;
	position: relative;
}

#playfield-container, #navigation-container {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100%;
}

#playfield-container {
	width: 80%;
	flex: 8;
	background-color: rgb(100, 100, 100);
}

#navigation-container {
	max-width: 250px;
	min-width: 175px;
	width: 20%;
	flex: 2;
	background-color: rgb(100, 100, 100);
}

.dialog {
	max-width: 800px;
	max-height: 600px;
	min-width: 200px;
	min-height: 100px;
	width: 80vw;
	height: 80vh;
	display: flex;
	flex-direction: column;
}

.scroller {
	height: 100%;
	width: 100%;
}

/* The initially defined "mCustomScrollbar" margin is unnecessary large */
.scroller .mCSB_inside > .mCSB_container:not(.mCS_y_hidden) {
	margin-right: 15px;
}