<div class="asset-editor dialog" data-role="popup" class="ui-corner-all">
	<div data-role="header" data-theme="a" class="ui-corner-top">
		<a href="#" data-rel="back" data-role="button" data-theme="a" data-icon="delete" data-iconpos="notext" class="ui-btn-right">Close</a>
		<h1>Assets</h1>
	</div>
	<div data-role="main" class="ui-corner-bottom ui-content layout-container vertical">
		<div class="content layout-container horizontal">
			<div class="scroller">
				<div class="editor"></div>
			</div>
			<div class="selected-content layout-container vertical">
				<div class="name">Name</div>
				<div class="image">
					
				</div>
			</div>
		</div>
		<div class="buttons layout-container horizontal">
			<button class="asset-add" class="ui-btn"><i class="fa fa-plus fa-lg"></i> Add</button>
			<button class="asset-edit" class="ui-btn"><i class="fa fa-pencil fa-lg"></i> Edit</button>
			<button class="asset-delete" class="ui-btn"><i class="fa fa-trash fa-lg"></i> Delete</button>
		</div>
		
		<input class="image-input" type="file" style="display: none;" accept="image/*" data-role="none" />
	</div>
</div>