@CHARSET "ISO-8859-1";


.asset-editor.dialog .content {
	flex: 1 1;
}

.asset-editor.dialog .content .scroller {
	flex: 3 3;
	max-width: calc(100% - 7.5rem);
}

.asset-editor.dialog .content .scroller .editor {
	width: 100%;
}

.asset-editor.dialog .content .selected-content {
	flex: 1 1;
	min-width: 7.5rem;
	max-width: 35%;
	padding: 1rem;	
}

.asset-editor.dialog .selected-content .name {
	flex: 0 0 2rem;
}

.asset-editor.dialog .selected-content .image {
	flex: 0 0;
  	width: 100%;
  	height: 0;
  	padding-bottom: 100%;
  	background-color: gray;
  	background-position: center;
	background-repeat: no-repeat;
	background-size: 100% 100%;
	position: relative;
}

.asset-editor.dialog .selected-content.active .image:not(.drag-over):hover:before {
	content: "Upload";
	width: 100%;
	height: 50%;
	opacity: 0.6;
	background-color: white;
  	outline: 0.2rem dashed black;
  	outline-offset: -0.5rem;
  	position: absolute;
  	text-align: center;
  	padding-top: 50%;
  	cursor: pointer;
}

.asset-editor.dialog .selected-content .image.drag-over {
	background-color: white;
  	outline: 0.2rem dashed lime;
  	outline-offset: -0.5rem;
}

.asset-editor.dialog .buttons {
	flex: 0 0 3rem;
	border-top: 1pt solid black;
}