<div class="navigation">
	<h3 class="state-display">Editor Mode</h3>
	<div data-role="navbar">
		<div data-role="tabs" data-iconpos="left">
		  	<ul>
		    	<li><a class="menu-pane-tab" data-icon="bars" class="ui-btn-active ui-state-persist"></a></li>
		    	<li><a class="toolbox-pane-tab" data-icon="edit"></a></li>
		  	</ul>
		  	
		  	<div class="menu-pane">Menu</div>
			<div class="toolbox-pane">Toolbar</div>
		</div>
	</div>
</div>