* {
	margin: 0;
	padding: 0;
}

html body div[data-role="page"] *:not(.fa), .text-styling {
	font-family: Trebuchet MS, Helvetica, Verdana, Helvetica, Arial;
	text-shadow: none;
}

html body .ui-btn {
	margin: 0;
}

.text-color-gray {
	color: gray;
}

.fa-1d75x {
	line-height: 1.75em;
	height: 1.75em;
	width: 1.75em;
}

.fa-stack-1d75x {
	font-size: 1.75em;
}

.text-styling.black, .text-style-black {
	text-shadow: 0 1pt 0 white;
	color: black;
}

.text-styling.white, .text-style-white {
	text-shadow: 0 1pt 0 black;
	color: white;
}

body {
	font-size: 100%;
}

html, body, div[data-role="page"], div[data-role="main"] {
    height: 100%;
    overflow: hidden;
}

.ui-mobile-viewport div[data-role="page"] {
	min-height: 100%;
}

.ui-content[data-role="main"] {
	padding: 0;
	display: flex;
	width: 100%;
	position: relative;
}

.progress-container {
	position: absolute;
	width: 100%;
	height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	background: #222;
}

.progress-bar {
	height: 2rem;
	width: 20rem;
	position: relative;
	margin: 1rem 0 1rem 0;
	background: #555;
	-moz-border-radius: 25px;
	-webkit-border-radius: 25px;
	border-radius: 25px;
	padding: 0.5rem;
	-webkit-box-shadow: inset 0 -1px 1px rgba(255,255,255,0.3);
	-moz-box-shadow   : inset 0 -1px 1px rgba(255,255,255,0.3);
	box-shadow        : inset 0 -1px 1px rgba(255,255,255,0.3);
}

.progress-bar .progress-value {
	display: block;
	height: 100%;
   	-webkit-border-top-right-radius: 8px;
	-webkit-border-bottom-right-radius: 8px;
    -moz-border-radius-topright: 8px;
    -moz-border-radius-bottomright: 8px;
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
    -webkit-border-top-left-radius: 20px;
 	-webkit-border-bottom-left-radius: 20px;
    -moz-border-radius-topleft: 20px;
    -moz-border-radius-bottomleft: 20px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
	-webkit-box-shadow:
	  inset 0 2px 9px  rgba(255,255,255,0.3),
	  inset 0 -2px 6px rgba(0,0,0,0.4);
	-moz-box-shadow:
	  inset 0 2px 9px  rgba(255,255,255,0.3),
	  inset 0 -2px 6px rgba(0,0,0,0.4);
	box-shadow:
	  inset 0 2px 9px  rgba(255,255,255,0.3),
	  inset 0 -2px 6px rgba(0,0,0,0.4);
	background-color: #5CFF67;
	background-image: -moz-linear-gradient(top, #5CFF67, #45BF4E);
	background-image: -webkit-gradient(linear,left top,left bottom,color-stop(0, #5CFF67),color-stop(1, #45BF4E));
	background-image: -webkit-linear-gradient(#5CFF67, #45BF4E);
	position: relative;
	overflow: hidden;
}

.progress-bar.indeterminate:after {
	content: "";
	position: absolute;
	top: 0; left: 0; bottom: 0; right: 0;
	background-image:
	   -webkit-gradient(linear, 0 0, 100% 100%,
	      color-stop(.25, rgba(255, 255, 255, .2)),
	      color-stop(.25, transparent), color-stop(.5, transparent),
	      color-stop(.5, rgba(255, 255, 255, .2)),
	      color-stop(.75, rgba(255, 255, 255, .2)),
	      color-stop(.75, transparent), to(transparent)
	   );
	background-image:
		-moz-linear-gradient(
		  -45deg,
	      rgba(255, 255, 255, .2) 25%,
	      transparent 25%,
	      transparent 50%,
	      rgba(255, 255, 255, .2) 50%,
	      rgba(255, 255, 255, .2) 75%,
	      transparent 75%,
	      transparent
	   );
	z-index: 1;
	-webkit-background-size: 50px 50px;
	-moz-background-size: 50px 50px;
	background-size: 50px 50px;
	-webkit-animation: move 2s linear infinite;
	-moz-animation: move 2s linear infinite;
	   -webkit-border-top-right-radius: 8px;
	-webkit-border-bottom-right-radius: 8px;
	       -moz-border-radius-topright: 8px;
	    -moz-border-radius-bottomright: 8px;
	           border-top-right-radius: 8px;
	        border-bottom-right-radius: 8px;
	    -webkit-border-top-left-radius: 20px;
	 -webkit-border-bottom-left-radius: 20px;
	        -moz-border-radius-topleft: 20px;
	     -moz-border-radius-bottomleft: 20px;
	            border-top-left-radius: 20px;
	         border-bottom-left-radius: 20px;
	overflow: hidden;
	-moz-border-radius: 25px;
	-webkit-border-radius: 25px;
	border-radius: 25px;
}

@-webkit-keyframes move {
    0% {
       background-position: 0 0;
    }
    100% {
       background-position: 50px 50px;
    }
}

@-moz-keyframes move {
    0% {
       background-position: 0 0;
    }
    100% {
       background-position: 50px 50px;
    }
}

.progress-bar .progress-label { 
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	position: absolute;
	display: flex;
	justify-content: center;
	align-items: center;
	z-index: 100;
	font-size: 90%;
}

/* Containers */

.layout-container {
	display: flex;
}

.layout-container.horizontal {
	flex-direction: row;
}

.layout-container.vertical {
	flex-direction: column;
}