<div class="tile-type-overview dialog" data-role="popup" class="ui-corner-all">
	<div data-role="header" data-theme="a" class="ui-corner-top">
		<a href="#" data-rel="back" data-role="button" data-theme="a" data-icon="delete" data-iconpos="notext" class="ui-btn-right">Close</a>
		<h1>Tile Type Overview</h1>
	</div>
	<div data-role="main" class="ui-corner-bottom ui-content">
		<div class="scroller">
			<ul class="tile-type-list" data-role="listview"></ul>
		</div>
		<button class="tile-type-create ui-btn ui-corner-bottom"><i class="fa fa-plus-circle fa-lg"></i> New</button>
	</div>
</div>
