<div class="tile-type-editor dialog" data-role="popup" class="ui-corner-all">
	<div data-role="header" data-theme="a" class="ui-corner-top">
		<a href="#" data-rel="back" data-role="button" data-theme="a" data-icon="delete" data-iconpos="notext" class="ui-btn-right">Close</a>
		<h1 class="tile-type-editor-title">Create</h1>
	</div>
	<div data-role="main" class="ui-corner-bottom ui-content">
		<div class="editor"></div>
		<button class="tile-type-submit" class="ui-btn">Submit</button>
	</div>
</div>