@CHARSET "ISO-8859-1";

.tile-type-editor .ui-content {
	display: flex;
	flex-direction: column;
	width: 100%;
}

.tile-type-editor .tile-type-submit {
	flex: 0 0 2.5rem;
	margin-bottom: 0;
}

.tile-type-editor .editor {
	flex: 1 1;
	height: calc(100% - 2.5rem - 10px);
}