@CHARSET "ISO-8859-1";

.options .ui-content {
	display: flex;
	flex-direction: column;
	width: 100%;
}

.options .options-apply {
	flex: 0 0 2.5rem;
	margin-bottom: 0;
}

.options .scroller {
	flex: 1 1;
	height: calc(100% - 2.5rem - 10px);
}