@CHARSET "ISO-8859-1";

.toolbox {
	height: 100%;
	width: 100%;
}

.toolbox .scroller ul.toolbox-list {
	margin: 0;
}

.tool .flex-container {
	height: 100%;
	display: flex;
}

.toolbox-delete-overlay {
	width: 100%;
	height: calc(100% - 42px);
	opacity: 0;
	position: absolute;
	background-color: rgba(0,0,0,25);
}

.toolbox-delete-overlay .img {
	width: 100%;
	height: 100%;
	background-position: center;
	background-repeat: no-repeat;
	background-size: 100% auto;
	background-image: url(../../asset/img/toolbox_delete_overlay.png);
}

.tool {
	background-color: rgb(135, 135, 135);
	border: 1pt solid black;
}

.tool .ui-input-text, .tool .tool-drag {
	height: 100%;
	width: 50%;
}

.tool .count {
	width: 100%;
	height: 100%;
	border: 0;
	padding: 0;
	text-align: center;
	font-size: 24pt;
	min-height: 0;
}

.tool .ui-input-text {
	margin: 0;
}

.tool-drag {
	background-color: black;
	background-repeat: no-repeat;
	background-size: 100% 100%;
	background-position: center center;
}

.toolbox button.validate {
	margin: 0;
}

.toolbox button.validate.success,
.toolbox button.validate.failure {
	text-shadow: none;
}

.toolbox button.validate.success {
	background-color: rgba(25, 255, 25, 125);
	border-color: rgba(25, 255, 25, 125);
}

.toolbox button.validate.failure {
	background-color: rgba(255, 25, 25, 125);
	border-color: rgba(255, 25, 25, 125);
}

.toolbox .scroller.playmode {
	height: calc(100% - 45px);
}

.toolbox .ui-droppable-active {
	box-shadow: 0pt 0pt 15px #FF8 inset;
}

.toolbox .ui-droppable-active.ui-droppable-hover {
	box-shadow: 0pt 0pt 15px #5F5 inset;
}

.toolbox.disabled .scroller:before, .toolbox.empty .scroller:before {
	content: "";
	display: inline-block;
	width: 100%;
	height: 100%;
	background-position: center center;
	background-repeat: no-repeat;
	background-size: 100% auto;
	background-image: url(../../asset/img/lock.png);
}

.toolbox.empty .scroller:before {
 	content: "No tools available!";
 	text-align: center;
}